.header{
    text-align: center;
    padding: 0.8;
    background-color: #0a0a0a;
    
    width: 100%;
    text-align: center;
    margin: 0;

    &__title{
        color: #fff;
        font-size: 2rem;
        margin: 0;
        
    }

    
}